<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./login/login.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="./login/login.js" defer></script>
    <title>Login</title>
</head>

<body>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p><b id="modal-message"></b></p>
        </div>
    </div>
    <div class="outblock">
        <div class="inblock">
            <div class="header">Welcome !</div>
            <div class="functionbar">
                <label for="user"><b>UserName</b></label>
                <input type='text' placeholder="Enter user name" name="user" id='user' required />

                <label for='psw'><b>Password</b></label>
                <input type='password' placeholder="Enter password" name="psw" id='psw' required />
            </div>
            <div class="functionbar">
                <div class="buttons" id="loginbutton">
                    <h1>登入</h1>
                </div>
                <div class="buttons" id="regibutton-l">
                    <h1>註冊</h1>
                </div>
            </div>
        </div>
    </div>

    
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const Params = new URLSearchParams(window.location.search)
            const regisuccess = Params.get('regi')
            if (regisuccess) {
                modal.style.display = 'block'
                modalMessage.innerText = 'Successfully Signed Up'
                let delayTime = 2000
                setTimeout(() => {
                    modal.style.display = 'none'
                }, delayTime)
            }
        })
    </script>

</body>

</html>