<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./style.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="./home.js"></script>
    <title>Home Page</title>
</head>

<body>
    <div class="navibar">
        <div class="naviblock">
            <div class="navigroup">
                <div class="navibutton" id="toHome"><p><b>主頁</b></p></div>
                <div class="navibutton" id="toComment"><p><b>留言</b></p></div>
            </div>
            <div class="navigroup">
                <div class="navibutton" id="toProfile"><p><b>Profile</b></p></div>
            </div>
        </div>
    </div>
    <div class="outblock">
        <div class="inblock">
            <p><b>Welcome, <%= user.username %>!</b></p>
        </div>
    </div>

    

</body>

</html>